<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="java.sql" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.sqltiming" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework.core" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework.beans" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework.context" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework.web" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="go.kr.thematic" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
